*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

body{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    min-height: 1000px;
    max-width: 1000px;
    background: #fff;
    display: grid;
    margin: 25px;
    grid-template-columns: 1fr 2.5fr;
    box-shadow: 0 30px 50px rgba(0,0,0,0.1);
}

.left-side{
    position: relative;
    background: #003147;
    padding: 30PX;
}

.left-side .nametext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}



.left-side .nametext h2{
    color: #fff;
    font-size: 25px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
}


.contactInfo{
    padding-top: 50px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 15px;

}
.contactInfo .icon{
    display: inline-block;
    width: 30px;
    font-size: 20px;
    color: #2a7da2;
}

.contactInfo {
    color: white;
    font-size: 17px;
    font-weight: 300px;
}

.right-side{
    position: relative;
    background: #fff;
    padding: 35px;
}

.info{
    margin-bottom: 35px;
}

.jobtitle{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

p{
    color: #333;
}

.info .box{
    display: flex;
    margin: 15px 0;
}

.info .box .infobox{
    min-width: 135px;
    margin-bottom: 10px;
}

.info .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 15px;
}
.info .box .text span{
    color: #333;
    font-size: 13px;
    font-style: italic;
    text-transform: none;
    margin: 15px;

}

}